{% extends "base.html.twig" %}

{% block body %}
<!-- Main navigation -->
<header>

  <!-- Full Page Intro -->
  <div class="view  jarallax" style="background-image: url({{ asset('build/images/landing2.jpg') }});" data-jarallax='{"speed": 0.2}'>
    <!-- Mask & flexbox options-->
    <div class="mask rgba-stylish-strong d-flex justify-content-center align-items-center">
      <!-- Content -->
      <div class="container">
        <!--Grid row-->
        <div class="row wow fadeIn">
          <!--Grid column-->
          <div class="col-md-12 text-center">
            <h1 class="display-4 font-weight-bold mb-0 pt-md-5 pt-5 wow fadeInUp">Découvrez SoundBuzz</h1>
            <h4 class="pt-md-5 pt-sm-2 pt-5 pb-md-5 pb-sm-3 pb-5 wow fadeInUp" data-wow-delay="0.2s">Écouter votre musique à tout moment et partager vos créations à la communauté</h4>
            <div class="wow fadeInUp" data-wow-delay="0.4s">
              <a class="btn btn-purple btn-rounded register_button" href="{{ path('app_register') }}"><i class="fas fa-user left"></i> Inscrivez-vous!</a>
              <a class="btn btn-outline-white btn-rounded know-more"><i class="fas fa-book left"></i> En savoir plus</a>
            </div>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
  </div>
  <!-- Full Page Intro -->
</header>
<!-- Main navigation -->

<div class="container my-5">


  <!-- Section: Block Content -->
  <section class="dark-grey-text text-center">

    <h3 class="text-center font-weight-bold mb-4 py-4">Écouter les dernières musiques tendances</h3>

    <!-- First row -->
    <div class="row">

      <!-- First column -->

      {% for song in songs %}
      <div class="col-lg-3 col-md-12 mb-4">

        <div class="view overlay z-depth-1">
          <img src="{{ asset('build/images/album2.jpg') }}" class="img-fluid" alt="Sample image">
          <div class="mask flex-center purple-gradient-rgba">
            <a class="btn btn-outline-white btn-rounded">Écouter</a>
          </div>
        </div>
        <p class="text-left mt-1 mb-0">{{ song.name }}</p>
        <p class="text-left text-muted mb-0">{{ song.artist }}</p>

      </div>
      {% endfor %}
    </div>
    <!-- Second row -->

  </section>
  <!-- Section: Block Content -->
</div>
{% endblock body %}